<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="static\fonts\icomoon\style.css">

  <link rel="stylesheet" href="static\css\bootstrap.min.css">
  <link rel="stylesheet" href="static\css\jquery-ui.css">
  <link rel="stylesheet" href="static\css\owl.carousel.min.css">
  <link rel="stylesheet" href="static\css\owl.theme.default.min.css">
  <link rel="stylesheet" href="static\css\owl.theme.default.min.css">

  <link rel="stylesheet" href="static\css\jquery.fancybox.min.css">

  <link rel="stylesheet" href="static\css\bootstrap-datepicker.css">

  <link rel="stylesheet" href="static\fonts\flaticon\font\flaticon.css">

  <link rel="stylesheet" href="static\css\aos.css">

  <link rel="stylesheet" href="static\css\style.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
    body {
      background-image: url('static/flower1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
</head>

<body>
    <div class="site-blocks-cover overlay" style="background-image: url(static/hero_2.jpg);" data-aos="fade" id="home-section"></div>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
          <h1>Big Brain Time </h1>
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Login
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>